<div id="menu-header">
    <figure>
        <img src="assets/logo-dark.png" alt="">
    </figure>
    <div id="navs">
      <nav class="navbar navbar-expand-lg navbar-dark ">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/clientes']">CLIENTS</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" [routerLink]="['/meet']">TEAM</a>
                 </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">LAYOUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">FEATURES</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">ELEMENTS</a>
                  </li>                  
                  <li class="nav-item">
                      <a class="nav-link" href="#">BLOG</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">SHOP</a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="far fa-flag"></i></a>
                  </li>  
                </ul>
              </div>
      </nav>
     
  </div>