<footer id="pie-de-pagina">
    <div class="content-pie">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="html5">
                        <h6>Polo HTML5 Template</h6>
                        <p class="mb-5">Built with love in Fort Worth, Texas, USA<br>
                        All rights reserved. Copyright © 2019. INSPIRO.</p>
                        <button type="button" class="btn btn-primary">Purchase Now</button>
                    </div>
                </div> <div class="col-lg-7">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="artilugio">
                            <h6>Discover</h6>
                            <ul class="list">
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Layouts</a></li>
                                <li><a href="#">Corporate</a></li>
                                <li><a href="#">Updates</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Customers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="artilugio">
                            <h6>Features</h6>
                            <ul class="list">
                                <li><a href="#">Layouts</a></li>
                                <li><a href="#">Headers</a></li>
                                <li><a href="#">Widgets</a></li>
                                <li><a href="#">Footers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="artilugio">
                            <h6>Pages</h6>
                            <ul class="list">
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Shop</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="artilugio">
                        <h6>Support</h6>
                            <ul class="list">
                                <li><a href="#">Help Desk</a></li>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content" style="bottom: 0;">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2019 POLO - Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="http://www.inspiro-media.com" target="_blank"> INSPIRO</a> </div>
        </div>
    </div>
</footer>