<section id="back" class=" p-t-150 p-b-150 " >
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="text-center">
                    <div class="icono2"><i class="fa fa-3x fa-code"></i></div>
                    <div class="counter">
                        <span >12416</span>
                    </div>  
                    <p>LINES OF CODE</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center">
                    <div class="icono2"><i class="fa fa-3x fa-coffee"></i></div>
                    <div class="counter">
                        <span >365</span>
                    </div>  
                    <p>CUPS OF COFFEE</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center">
                    <div class="icono2"><i class="fa fa-3x fa-rocket"></i></div>
                    <div class="counter">
                        <span >114</span>
                    </div>  
                    <p>FINISHED PROJECTS</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center">
                    <div class="icono2"><i class="fa fa-3x fa-smile-o"></i></div>
                    <div class="counter">
                        <span >14825</span>
                    </div>  
                    <p>SATISFIED CLIENTS</p>
                </div>
            </div>    
            
        </div>
    </div>
</section> 