<section id="recent" class="p-b-0">
    <div class="container">
        <div class="encabezado-texto encabezado-section">
            <h2>RECENT WORK</h2>
            <span class="sub">Lorem ipsum dolor sit amet, coper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto.</span>
        </div>
    </div>
    <div id="galeria" class="padded">
 
        <div class="row no-gutters">
          <figure class="col-xl-3 col-lg-3 col-md-3 col-sm-3"><img src="assets\portfolio\60.jpg" alt="" class="img-fluid"></figure>
          <figure class="col-xl-3 col-lg-3 col-md-3 col-sm-3"><img src="assets\portfolio\61.jpg" alt="" class="img-fluid"></figure>
          <figure class="col-xl-3 col-lg-3 col-md-3 col-sm-3"><img src="assets\portfolio\64.jpg" alt="" class="img-fluid"></figure>
          <figure class="col-xl-3 col-lg-3 col-md-3 col-sm-3"><img src="assets\portfolio\65.jpg" alt="" class="img-fluid"></figure>
          <figure class="col-xl-3 col-lg-3 col-md-3 col-sm-3"><img src="assets\portfolio\66.jpg" alt="" class="img-fluid"></figure>
          <figure class="col-xl-3 col-lg-3 col-md-3 col-sm-3"><img src="assets\portfolio\67.jpg" alt="" class="img-fluid"></figure>
          <figure class="col-xl-3 col-lg-3 col-md-3 col-sm-3"><img src="assets\portfolio\68.jpg" alt="" class="img-fluid"></figure>
          <figure class="col-xl-3 col-lg-3 col-md-3 col-sm-3"><img src="assets\portfolio\69.jpg" alt="" class="img-fluid"></figure>
          
        </div><!-- row -->    
  
    </div><!-- eventos -->
</section>