<section id="meet">
    <div class="container">
        <div class="encabezado-texto encabezado-section text-center">
            <h1>MEET OUR TEAM</h1>
            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
        <div class="row team-members">
                <div class="p_blog col-lg-3">
                        <div>
                            <img src="assets/team/6.jpg" class="img_blog" alt="">
                            
                        </div>
                        <div class="text_team">
                                <h3>Alea Smith</h3>
                                <span>Software Developer</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                                <div class="align-center">
                                    <a class="" href="#">
                                    <i class="fab fa-facebook-f fa-xs"></i>
                                    </a>
                                    <a class="" href="#">
                                    <i class="fab fa-twitter fa-xs"></i>
                                    </a>
                                    <a class="" href="#">
                                    <i class="fab fa-instagram fa-xs"></i>
                                    </a>
                                    <a class="" href="mailto:#">
                                    <i class="far fa-envelope fa-xs"></i>
                                    </a>
                                </div>
                        </div>
                </div>
                <div class="p_blog col-lg-3">
                        <div>
                            <img src="assets/team/7.jpg" class="img_blog" alt="">
                            
                        </div>
                        <div class="text_team">
                                <h3>Ariol Doe</h3>
                                <span>Software Developer</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                                <div class="align-center">
                                        <a class="" href="#">
                                        <i class="fab fa-facebook-f fa-xs"></i>
                                        </a>
                                        <a class="" href="#">
                                        <i class="fab fa-twitter fa-xs"></i>
                                        </a>
                                        <a class="" href="#">
                                        <i class="fab fa-instagram fa-xs"></i>
                                        </a>
                                        <a class="" href="mailto:#">
                                        <i class="far fa-envelope fa-xs"></i>
                                        </a>
                                    </div>
                        </div>
                </div>
                <div class="p_blog col-lg-3">
                        <div>
                            <img src="assets/team/8.jpg" class="img_blog" alt="">
                            
                        </div>
                        <div class="text_team">
                                <h3>Emma Ross</h3>
                                <span>Software Developer</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                                <div class="align-center">
                                        <a class="" href="#">
                                        <i class="fab fa-facebook-f fa-xs"></i>
                                        </a>
                                        <a class="" href="#">
                                        <i class="fab fa-twitter fa-xs"></i>
                                        </a>
                                        <a class="" href="#">
                                        <i class="fab fa-instagram fa-xs"></i>
                                        </a>
                                        <a class="" href="mailto:#">
                                        <i class="far fa-envelope fa-xs"></i>
                                        </a>
                                    </div>
                        </div>
                </div>
                <div class="p_blog col-lg-3">
                        <div>
                            <img src="assets/team/9.jpg" class="img_blog" alt="">
                            
                        </div>
                        <div class="text_team">
                                <h3>Victor Loda</h3>
                                <span>Software Developer</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                                <div class="align-center">
                                        <a class="" href="#">
                                        <i class="fab fa-facebook-f fa-xs"></i>
                                        </a>
                                        <a class="" href="#">
                                        <i class="fab fa-twitter fa-xs"></i>
                                        </a>
                                        <a class="" href="#">
                                        <i class="fab fa-instagram fa-xs"></i>
                                        </a>
                                        <a class="" href="mailto:#">
                                        <i class="far fa-envelope fa-xs"></i>
                                        </a>
                                    </div>
                        </div>
                </div>
        </div>
    </div>
</section>  