<section>
    <div class="container">
        <div class="encabezado-texto encabezado-section text-center">
            <h1>SERVICES</h1>
            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
        <div class="row">
            <div class="col-lg-4" >
                <div class="box-icon medium border small">
                    <div class="icono">
                        <a href="#"><i class="fa fa-plug fa-2x"></i></a>
                    </div>
                    <h3>Powerful template</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box-icon medium border small">
                    <div class="icono">
                        <a href="#"><i class="fa fa-desktop fa-2x"></i></a>
                    </div>
                    <h3>Flexible Layouts</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box-icon medium border small">
                    <div class="icono">
                        <a href="#"><i class="fa fa-cloud fa-2x"></i></a>
                    </div>
                    <h3>Retina Ready</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box-icon medium border small">
                    <div class="icono">
                        <a href="#"><i class="far fa-lightbulb fa-2x"></i></a>
                    </div>
                    <h3>Fast processing</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box-icon medium border small">
                    <div class="icono">
                        <a href="#"><i class="fa fa-trophy fa-2x"></i></a>
                    </div>
                    <h3>Unlimited Colors</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box-icon medium border small">
                    <div class="icono">
                        <a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a>
                    </div>
                    <h3>Premium Sliders</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="box-icon medium border small">
                    <div class="icono">
                        <a href="#"><i class="fa fa-rocket fa-2x"></i></a>
                    </div>
                    <h3>Modern Design</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box-icon medium border small">
                    <div class="icono">
                        <a href="#"><i class="fa fa-flask fa-2x"></i></a>
                    </div>
                    <h3>Clean Modern Code</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box-icon medium border small">
                    <div class="icono">
                        <a href="#"><i class="fa fa-umbrella fa-2x"></i></a>
                    </div>
                    <h3>Free Updates & Support</h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                </div>
            </div>
        </div>
    </div>
</section>