<section class="p-t-60">
    <div class="container">
        <div class="encabezado-texto encabezado-section text-center">
            <h1>CLIENTS</h1>
            <span class="sub">Our awesome clients we've had the pleasure to work with! </span>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
       
                </ol>
                <div id="slider-clients" class="carousel-inner">
                  <div class="carousel-item active">
                      <div style="display: flex">
                            <img src="assets/clients/1.png" class="col-lg-2 d-block w-100" alt="...">
                            <img src="assets/clients/2.png" class="col-lg-2 d-block w-100" alt="...">
                            <img src="assets/clients/3.png" class="col-lg-2 d-block w-100" alt="...">
                            <img src="assets/clients/4.png" class="col-lg-2 d-block w-100" alt="...">
                            <img src="assets/clients/5.png" class="col-lg-2 d-block w-100" alt="...">
                            <img src="assets/clients/6.png" class="col-lg-2 d-block w-100" alt="...">
                      </div>
                    
                  </div>
                  <div class="carousel-item" >
                        <div style="display: flex">
                                <img src="assets/clients/3.png" class="col-lg-2 d-block w-100" alt="...">
                                <img src="assets/clients/4.png" class="col-lg-2 d-block w-100" alt="...">
                                <img src="assets/clients/5.png" class="col-lg-2 d-block w-100" alt="...">
                                <img src="assets/clients/6.png" class="col-lg-2 d-block w-100" alt="...">
                                <img src="assets/clients/7.png" class="col-lg-2 d-block w-100" alt="...">
                                <img src="assets/clients/8.png" class="col-lg-2 d-block w-100" alt="...">
                          </div>
                        
                  </div>
                  
                </div>
            </div>
    </div>
</section>