h1{
    display: block;
	font-weight: 100;
	letter-spacing: -.7px;
	font-size: 48px;
	text-transform: uppercase;/* para minúsculas */
	
	position: relative;
	margin-bottom: 60px;
}

h1:after{
	content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background-color: #2250fc;
    bottom: -30px;
    left: 45%;
   
}

#slider-clients{
    height: 123px;
}
